{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block content_title %}
    <h5 style="display: inline;margin-right: 1.5em;">Importer les données de bases PROTO</h5><span>Département - Centre de Production - Poste de Travail - Activité</span>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" action="{{ path('import_data_pdt_proto_save') }}" target="_blank" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" name="importfile" required>
                        <label class="custom-file-label" for="validatedCustomFile">Sélectionner un fichier CSV (séparateur point-virgule)</label>
                        <div class="invalid-feedback">Fichier invalide</div>
                    </div>
                    <div class="form-group form-padding-left">
                        <label for="myonoffswitch">Prendre en compte la première ligne du fichier : </label>
                        <div class="onoffswitch">
                            <input type="checkbox" name="firstline" class="onoffswitch-checkbox" id="myonoffswitch" value="1" checked>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-padding-left">
                        <a type="file" href="{{ url_model_file }}" class="btn btn-primary margin-right">Fichier model pour l'import</a>
                        <button type="submit" class="btn btn-primary">Uploader</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block body_javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}