{% extends "layout/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}Naviquiz{% endblock %}


{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 icon-cfsa">
                <img src="{{ asset('build/logo/cfsa.jpg') }}" alt="">
            </div>
            {% if hasAccess is not defined %}
                <div class="col-8 login">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}

                        <button class="btn btn-lg btn-primary" type="submit">
                            Se connecter
                        </button>
                    </form>
                </div>
            {% endif %}
            {% if last_username is not defined %}
                <div class="col-12 icones">
                    <ul>
                        <li><h4>NAVIQUIZ</h4><a href="{{ path('naviquiz') }}"><i class="far fa-question-circle" aria-hidden="true"></i></a></li>
                        <li><h4>CONFIGURATEUR</h4><a href="{{ path('configurateur_index') }}"><i class="far fa-object-group"></i></a></li>
                        <li><h4>DONNÉES DE BASE</h4><a href="/admin"><i class="fas fa-toolbox" aria-hidden="true"></i></a></li>
                        <li><h4>PROFIL</h4><a href="{{ path('profil',  {slug: user.slug, id: user.id }) }}"><i class="fas fa-user"></i></a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}

    {% block footer %}
        <footer class="footer mt-auto py-3">
            <div class="container">
                <span class="text-muted">Patek Philippe - Projet de création du référentiel : Rémi Fongaufier & Andréa Sester</span>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('home') }}
    {% endblock %}
