{% extends "layout/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}Naviquiz{% endblock %}


{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 icon-cfsa">
                <img src="img/logo/cfsa.jpg" alt="">
            </div>

            <div class="col-4">
                <a href="{{ path('naviquiz') }}?pw=eb70aa6ff6792225e8e4f7467d9982ac" class="card text-white bg-success mb-3">
                    <div class="card-header">
                        <h5 class="card-title">NAVIQUIZ</h5>
                    </div>
                    <div class="card-footer">
                        <span class="helper"></span><img src="img/logo/naviquiz.png" class="card-img-top" >
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="{{ path('configurateur_index') }}" class="card text-white bg-success mb-3">
                    <div class="card-header">
                        <h5 class="card-title">CONFIGURATEUR</h5>
                    </div>
                    <div class="card-footer">
                        <span class="helper"></span><img src="img/logo/naviquiz.jpg" class="card-img-top" >
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="/admin" class="card text-white bg-success mb-3">
                    <div class="card-header">
                        <h5 class="card-title">BACK-OFFICE</h5>
                    </div>
                    <div class="card-footer">
                        <span class="helper"></span><img src="img/logo/back-office.png" class="card-img-top" >
                    </div>
                </a>
            </div>
        </div>
    </div>


{% endblock %}

    {% block footer %}
        <footer class="footer mt-auto py-3">
            <div class="container">
                <span class="text-muted">Patek Philippe - Projet de création du référentiel : Rémi Fongaufier & Andréa Sester</span>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('home') }}
    {% endblock %}
