{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block content_title %}
    <h5>Exporter la structure des données de base</h5>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" action="{{ path('configurateur_export_structure') }}" target="_blank">
                    <button type="submit" class="btn btn-primary">Exporter la strucutre des données de base</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}