{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    {#
        {{ encore_entry_link_tags('app') }}
    #}
    {{ encore_entry_link_tags('admin_ge_config') }}
{% endblock %}

{% block content_title %}
    <h5>MAJ de la Gamme Enveloppe : {{ ge.nom }}</h5>
{% endblock %}

{% block main %}
    <div class="container">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Séq</th>
                <th scope="col">Code PDT - Désignation PDT</th>
                <th scope="col">Code activité - Désignation activité</th>
                <th scope="col">Règle</th>
                <th scope="col">Branche(s)</th>
            </tr>
            </thead>
            <tbody>
            {% for operation in form.operations %}
            <tr>
                <th scope="row">{{ form_widget(operation.numero) }}</th>
                <td>{{ form_widget(operation.pdt) }}</td>

                <td>{{ form_widget(operation.activite) }}</td>

                <td> {{ form_widget(operation.linkregleoperation) }}</td>
                <td>{{ form_widget(operation.linkregleoperation) }}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block body_javascript %}
    {{ parent() }}
    {#
        {{ encore_entry_script_tags('app') }}
    #}
    {{ encore_entry_script_tags('admin_ge_config') }}
{% endblock %}
